<app-navbar></app-navbar>
<div class="contenedor">
<h3 class="text-center mb-3">Introduce tu nueva contraseña</h3>
<div class="formulario">
  <form [formGroup]="formReactive" (ngSubmit)="onChangePassword()"   novalidate>
    <div class="mb-3">
      <label for="password" class="form-label">Contraseña:</label>
      <input type="password"
             class="form-control"
             id="password"
             formControlName="newPassword"
             name="password"
             placeholder="Ingrese su nueva contraseña"
             [(ngModel)]="password"
             required>
      <small *ngIf="newPasswordNoValida" class="form-text text-danger">
        Se necesitan 8 carácteres para la contraseña
      </small>
    </div>

    <div class="mb-3">
      <label for="confirmarPassword" class="form-label">Confirmar contraseña:</label>
      <input type="password"
             class="form-control"
             id="confirmarPassword"
             formControlName="confirmPassword"
             name="confirmarPassword"
             placeholder="Ingrese nuevamente la contraseña"
             [(ngModel)]="confirmarPassword"
             required>
      <small *ngIf="confirmPasswordNoValida" class="form-text text-danger">
        Se necesitan 8 carácteres para la contraseña
      </small>
    </div>

    <button type="submit" class="btn" >Actualizar contraseña</button>
  </form>
</div>
</div>
