<div class="contenedor text-center">
  <app-navbar></app-navbar>
  <div *ngIf="!isLogged">
    <h1 class="titulo mt-5 mb-3"><strong>Todo sobre películas y series</strong></h1>
    <h1 class="titulo mt-3 mb-5"><strong>en un solo lugar.</strong></h1>
    <h2 class="titulo mt-5 mb-3"><strong>Registrate y descubre todo de tus películas favoritas.</strong></h2>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
  </div>

  <div *ngIf="isLogged">
    <h1 class="titulo mt-5 mb-3"><strong>Disfruta de todo el contenido.</strong></h1>
    <h1 class="titulo mt-3 mb-5"><strong>que NETFEX tiene para tí.</strong></h1>
    <h2 class="titulo mt-5 mb-3"><strong>Encuentra todos los detalles de tus películas</strong></h2>
    <h2 class="titulo mt-3 mb-5"><strong>y series favoritas aquí!</strong></h2>
    <br>
    <br>
    <br>

  </div>
</div>
<hr style="height: 10px" class="mt-0">

<div class="container mb-5">
  <div class="row">
<div class="col-7 text-center">
  <h1 class="titulo-cajon"><strong>Contigo en todo momento.</strong></h1>
  <h2 class="subtitulo-cajon">Disfruta NETFEX desde la comodidad de tu casa.</h2>
</div>
<div class="col-5 text-center">
  <div>
    <img src="assets/img/kisspng-television-computer-monitor-flat-panel-display-fil-lcd-screen-tv-png-5a753f0a046649.093865411517633290018.png"
         width="500px" height="400px">
    <div class="video1">
      <video autoplay  [muted]="true" [loop]="true" playsinline >
        <source src="assets/img/y2matecom-comercial-cine-hoyts-y-mutual-de-seguridad-manual-de-seguridad-1080p_0FDAX6ob.mp4" type="video/mp4">
      </video>
    </div>
  </div>
</div>
</div>
</div>
<hr style="height: 10px" class="mt-0">

<div class="container mb-5">
  <div class="row ">
    <div class="col-5 text-center">
      <img src="assets/img/kisspng-white-smartphone-picture-frames-hand-and-phone-5b5ce182d2bc41.4002042815328136988632.png"
           width="500px" height="500px">
      <div class="imagen-one">
        <img class="imagen-uno" src="assets/img/Netfex.png"
             width="500px" height="500px">
      </div>
    </div>
    <div class="col-7 text-center">
      <h1 class="titulo-cajon "><strong>Disfruta en tu celular</strong></h1>
      <h2 class="subtitulo-cajon ">Ve la series y películas que ofrecemos, con reproductores de blu-ray y más</h2>
    </div>
  </div>
</div>
<hr style="height: 10px" class="mt-0">


<div class="container mb-5">
  <div class="row">
    <div class="col-7 text-center">
      <h1 class="titulo-cajon"><strong>Desde la comodidad de tu PC.</strong></h1>
      <h2 class="subtitulo-cajon">Películas y series iliminatadas en tu computadora y sin costo extra.</h2>
    </div>
    <div class="col-5 text-center">
      <div >
        <img src="assets/img/kisspng-macbook-pro-mac-mini-imac-computer-desktop-pc-5ab7240ce85283.8697039815219517569516.png"
             width="500px" height="400px">
        <div class="video2">
          <video autoplay  [muted]="true" [loop]="true" playsinline >
            <source src="assets/img/y2matecom-annabelle-3-viene-a-casa-trailer-oficial-1080p_TISLKC7S.mp4" type="video/mp4">
          </video>
        </div>
      </div>
    </div>
  </div>
</div>

<hr style="height: 10px" class="mt-0">

<div class="container mb-5">
  <div class="row ">
    <div class="col-7 text-center">
      <img  class="tablet" src="assets/img/tablet.png"
           width="500px" height="500px">
      <div class="imagen-dos">
        <img class="imagen-two" src="assets/img/unnamed.jpg"
             width="500px" height="500px">
      </div>
    </div>
    <div class="col-5 text-center">
      <h1 class="titulo-cajon "><strong>Disfruta donde quieras.</strong></h1>
      <h2 class="subtitulo-cajon ">Incluso disponible para tablets</h2>
    </div>
  </div>
</div>
<hr style="height: 10px" class="mt-0">
