<app-navbar></app-navbar>
<br>
<h1 class="text-center">Gestión de películas</h1>
<br>
<h3 class="text-center">Formulario registro película</h3>
<br>
<div class="col-md-6 offset-md-3">
<form autocomplete="off"  [formGroup]="formReactive" (ngSubmit)="guardarPelicula()" enctype="multipart/form-data"  >

  <div class="form-group mt-3">
      <label for="titulo" class="form-label">Título de la película</label>
      <input type="text"
             class="form-control"
             [class.is-invalid]="tituloNoValido"
             id="titulo"
             name="titulo"
             [(ngModel)]="pelicula.titulo"
             formControlName="titulo"
             placeholder="Ingrese el titulo de la pelicula">
    <small *ngIf="tituloNoValido" class="form-text text-danger">
      Ingrese mínimo 2 carácteres
    </small>

</div>
  <div class="form-group mt-3">
    <label for="director" class="form-label">Director de la película</label>
    <input type="text"
           class="form-control"
           [class.is-invalid]="directorNoValido && touchedDirector"
           id="director"
           name="director"
           [(ngModel)]="pelicula.director"
           formControlName="director"
           placeholder="Ingrese el director de la película">
    <small *ngIf="directorNoValido && touchedDirector" class="form-text text-danger">
      Ingrese mínimo 5 carácteres Y solo texto
    </small>

  </div>
  <div class="form-group mt-3">
    <label for="fecha_estreno" class="form-label">Año de estreno de la película</label>
    <input type="text"
           class="form-control"
           [class.is-invalid]="fecha_estrenoNoValido && touchedFecha"
           id="fecha_estreno"
           name="fecha_estreno"
           [(ngModel)]="pelicula.fecha_estreno"
           formControlName="fecha_estreno"
           placeholder="Ingrese el año de estreno de la película">
    <small *ngIf="fecha_estrenoNoValido && touchedFecha" class="form-text text-danger">
      Ingrese mínimo 4 carácteres Y solo dígitos
    </small>

  </div>

  <div class="form-group mt-3">
    <label for="presupuesto" class="form-label">Presupuesto  de la película</label>
    <input type="text"
           class="form-control"
           [class.is-invalid]="presupuestoNoValido"
           id="presupuesto"
           name="presupuesto"
           formControlName="presupuesto"
           [(ngModel)]="pelicula.presupuesto"
           placeholder="Ingrese el presupuesto de la película">
    <small *ngIf="presupuestoNoValido" class="form-text text-danger">
      Ingrese mínimo 5 carácteres
    </small>

  </div>

  <div class="form-group mt-3">
    <label for="descripcion" class="form-label">Descripción de la película</label>
      <textarea type="text"
                class="form-control"
                [class.is-invalid]="descripcionNoValido"
                id="descripcion"
                name="descripcion"
                rows="3"
                [(ngModel)]="pelicula.descripcion"
                placeholder="Ingrese la descripción de la película"
                formControlName="descripcion"
      > </textarea>
    <small *ngIf="descripcionNoValido" class="form-text text-danger">
      Ingrese mínimo 10 carácteres
    </small>
  </div>

  <div class="form-group mt-3">
    <label for="genero" class="form-label">Genéro de la película</label>
    <select  class="form-select"
            id="genero"
            name="genero"
            [(ngModel)]="pelicula.genero"
            formControlName="genero"
            >
        <option selected>Seleccione un genéro </option>
        <option *ngFor="let genero of generos" [value]="genero" >
          {{genero.nombreGenero}}
        </option>
    </select>
    <small *ngIf="descripcionNoValido" class="form-text text-danger">
      Ingrese mínimo 10 carácteres
    </small>

  </div>

  <div class="form-group mt-3">
    <label for="estado" class="form-label">Estado de la película</label>
    <select class="form-select"
            id="estado"
            name="estado"
            [(ngModel)]="pelicula.estado"
            formControlName="estado"
    >
      <option selected>Seleccione el estado de la película </option>
      <option value="Disponible">Disponible</option>
      <option value="Por estrenarse">Por estrenarse</option>
    </select>
    <small *ngIf="descripcionNoValido" class="form-text text-danger">
      Ingrese mínimo 10 carácteres
    </small>

  </div>


    <div class="form-group mt-3">
      <img [src]="url" height="200"> <br/>
      <label for="imagen" class="form-label">Ingrese la imagen</label>
      <input type="file"
             (change)="selectFile($event)"
             (change)="onSelectFile($event)"
             class="form-control"
             [class.is-invalid]="imagenNoValida"
             id="imagen"
             name="file"
             formControlName="imagen"
             placeholder="Ingrese el presupuesto de la película">
    </div>
    <div class="form-group mt-3">
      <label for="url" class="form-label">Ingrese la URL del trailer de la película</label>
      <input type="text"
             class="form-control"
             id="url"
             name="url"
             [(ngModel)]="urlVideo"
             formControlName="url"
             placeholder="Ingrese la URL del trailer que corresponde a la película">

    </div>
  <div class="d-grid gap-2 col-6 mx-auto mb-5">
    <button (click)="GFG_Fun()" type="submit" class="btn btn-success mt-3"> Registrar</button>
  </div>
</form>
</div>
<br>
<br>

